
/*mobile*/

@media screen and (min-width: 320px) and (max-width: 480px) { 
    

}


/*ipads tables*/
@media screen and (min-width: 481px) and (max-width: 768px) { 
    

}


/*small screen*/
@media screen and (min-width: 769px) and (max-width: 1024px) { 
    

}


/*desktop large screen*/
@media screen and (min-width: 1025px) and (max-width: 1200px) { 
    

}


/*wide screen*/
@media screen and (min-width: 1201px) and (max-width: 1439px) { 
    

}

/*wide screen*/
@media screen and (min-width: 1440) and (max-width: 1920px) { 
    

}



@media only screen and (max-width: 767px) {
 
 
    .wfh {
       flex-direction: column;
   }
   
   .wfh>.wpb_column {
       width: 100vw !important;
       min-height: 300px;
   }
   
   
   .wfh>.wpb_column:first-child>.vc_column-inner {
       max-width: 100%;
   }
   }  

   @media only screen and (max-width: 1023px) {
    .wrapper-grid {
      display: none;
  }
}